---
layout: default 
title: Fallstudie
sitemap: true
---


<div class="container-fluid ml-8 mt-5 mb-5">
    <h1>Alles begann mit der Idee der <br/></h1>
    <h1 class="ml-5"><span class="bg-dark text-white">ganzheitlichen</span> Digitalisierung.</h1>
</div>

<div class="row">
    <div class="col">
        <p>Um Ihnen einen Einblick über meine Arbeiten der letzten Jahre zu geben, versuche ich das Projekt TEAM3+ als Fallstudie darzulegen. </p>      
    </div>
</div>
<hr>

<h1>Ausgangssituation</h1>
<p>Die Bauwirtschaft ist in der Art und Weise der Abrechnung und betriebswirtschaftlichen Darstellung sonderbar. Einige wesentliche Gründe sind entscheidend für
    diese Sonderstellung. </p>
    <ul>
        <li><strong>Die Bauprojekte sind sehr unterschiedlich geartet:</strong> Neben den privaten Bauten und ihre steuerliche Sonderstellung, gibt es auch gewerbliche Bauten. Hoch- und Tiefbauten usw. Je nach Art und Tiefe der 
            praktischen Umsetzung eines Bauprojektes von Planung bis hin zum Bau des Projektes, gibt es unterschiedlich viele Partner und projektinvolvierte Stellen, die eingebunden werden. 
        </li>
        <li><strong>Wenige Bauunternehmen decken die gesamte Wertschöpfungskette unternehmerisch ab:</strong> Dies erhöht die Kollaboration und Zusammenarbeit mit vielen externen Stellen. 
            Hat man die Expertise nicht, muss man sich diese holen. Dokumente und Planstände müssen ausgetauscht und jeweils in der neuesten ggf. geänderten Fassung verfübar gemacht werden.</li>
        <li><strong>Besondere Vertragsgrundlagen:</strong> Die Bauwirtschaft hat aufgrund der besonderen und ausführungsorientierten und ggf. nicht immer kalkulierbaren Endergebnisse eine besonders umfangreiche Einbehalts- und Abrechnungslogik.</li>
    </ul>
<p>
    Der Anfang dieser Idee entstand bei einem Bauträger. Ein Bauträger, der die Wertschöpfungskette von der Grundstücksakquise 
    bis hin zum Vertrieb und Gewährleistung selbst steuert, koordiniert und verwaltet. Nur selektiv und nach Bedarf wurden teilweise Leistungen outgesourct. 
    Dieser Umstand machte den Bedarf an einem ganzheitlichen System für die Steuerung der Baustellen, sowohl intern in der Verwaltung und Abrechnung, als auch in 
    der klassischen Projektsteuerung auf der Baustelle spürbar und relevant.
</p>

<p>Durch das Fehlen eines systemischen Vorgehens entstehen viele unkoordinierte Kommunikationsknotenpunkte, mit nicht verifizierten oder veraltete Daten und Informationen.
    Während die Kalkulationsabteilung von errechneten und gewünschten Kosten und Erlösen ausgeht, gewinnen die Baustellen ein Eigenleben. Kostenüberschreitungen
    und Terminverschiebungen werden zur Regel. Ebenso gibt es Mängel auf der Baustelle, die teilweise aus dieser verwalterischen Undurchsichtigkeit heraus entstehen 
    und verwaltet und behoben werden müssen. Handwerker müssen fallbezogen die erzeugten Mängel beheben oder alternative Ersatzvornahmen müssen an der Stelle greifen.
</p>

<p>Eine weitere Problematik besteht in der Art und Weise der Kommunikation. Die einzelnen Fachabteilungen arbeiten mit den jeweils nötigen Programmen und die Prozesse sind abteilungsintern 
    autark. An sich ist diese Eigenschaft nicht negativ zu bewerten, gäbe es eine geordnete Schnittstelle, um die nötigen Daten zwischen den unterschiedlichen Bereichen auszutauschen.
    Doppel- bzw. Mehrfachpflege der selben Informationen und Datenbrüche sind in der Regel nicht zu vermeiden, wenn ein einheitliches System für die Hinterlegung der kaufm. Belange nicht existiert.
</p>


<h1>Unternehmensstruktur</h1>

<p>Die Wertschöpfungskette eines Bauträgers beginnt im Grunde bei der Grundstücksakquise und endet bei der Endabwicklung der Gewährleistung. Zusammenfassend können folgende Bereiche und Abteilungen 
    bei einem Bauträger vorhanden sein:
    </p>
    
<div class="container-fluid m-0 p-0">
    <div class="row">
        
            <div class="col-6 col-md-3 mb-3">
      
    
                    {% include card-item.html 
                        cardImage="/assets/images/bautraeger-projektentwicklung.jpg" 
                        cardTitle="Projektentwicklung" 
                        cardText="Grundstücksakquise oder Ankauf von Bestandsimmobilien im stadtischen Raum. Vorplanung und Kostenkalkulation vor Akauf eines Grundstückes." %}  

            </div>
            <div class="col-6 col-md-3 mb-3">
                    {% include card-item.html 
                        cardImage="/assets/images/bautraeger-kalkulation.jpg" 
                        cardTitle="Kalkulation" 
                        cardText="Angekaufte Projekte werden für die Ausführung und Fertigstellung kalkuliert. Kostenschätzung und Kostenüberwachung neben Auswertungen unterschiedlichster Art." %}
                
            </div>
            <div class="col-6 col-md-3 mb-3">
                    {% include card-item.html 
                        cardImage="/assets/images/bautraeger-bauaussfuehrung.jpg" 
                        cardTitle="Planung und Ausführung" 
                        cardText="Einzelne Gewerke und Leistungen werden vergeben. Leistungseinkauf, Vertragsmanagement und Prüfung der erbrachten Leistungen auf der Baustelle." %} 
            </div>
            <div class="col-6 col-md-3 mb-3">
                    {% include card-item.html 
                        cardImage="/assets/images/bautraeger-buchhaltung.jpg" 
                        cardTitle="Finanzbuchhaltung" 
                        cardText="Fortschritt des Bautenstandes auf der Baustelle führt sowohl auf der Kostenseite, als auch auf der Erlösseite zu Abrechnugen." %}  
            </div>
    </div>
    <div class="row">
                   
            <div class="col-6 col-md-3 mb-3">
                    {% include card-item.html 
                                cardImage="/assets/images/bautraeger-vertrieb.jpg" 
                                cardTitle="Vertrieb" 
                                cardText="Angekaufte und geplante Objekte gehen in den Vertrieb. Klassiche CRM Erfordernisse sind hier gegeben. Interessentenverwaltung und Erfolgskontrolle der Belegschaft." %}
                        
                </div>
            <div class="col-6 col-md-3 mb-3">
                  
                    {% include card-item.html 
                        cardImage="/assets/images/bautraeger-gewaehrleistung.jpg" 
                        cardTitle="Gewährleistung" 
                        cardText="Gewährleistungsansprüche bestehen sowohl auf der Ausführungsseite dem ausführenden Handswerksbetrieb als auch dem Endkunden gegenüber." %}  

            </div>
                    
            <div class="col-6 col-md-3 mb-3">
                    {% include card-item.html 
                                cardImage="/assets/images/bautraeger-anmietung-vermietung.jpg" 
                                cardTitle="Anmietung / Vermietung" 
                                cardText="Oft wird eigener Bestand aufgebaut oder verkaufte Objekte angemietet und weiter vermietet. Verwaltung und Abrechnun gehört hier zum operativen Alltag." %}
                        
                </div>
            <div class="col-6 col-md-3 mb-3">
                  
                    {% include card-item.html 
                        cardImage="/assets/images/bautraeger-personalwesen.jpg" 
                        cardTitle="Personalwesen" 
                        cardText="Mitarbeiter müssen verwaltet werden. Arbeitsverträge, Fehlzeiten und Stundenerfassung sind hier die besonders hervorzuhebenden Bereiche." %}  

            </div>
                    
    </div>
</div>

<p><strong>Bauabwicklung und daraus resultierende Notwendigkeit Informationen und Daten zwischen den einzelnen Bereichen auszutauschen ist ein wesentlicher Teil des operativen Alltags eines Bauträgers.</strong> Beispielhaft laufen die Bauprojekte während ihres gesamten "Lebenszyklus" von Ankauf der Grundstücke bis hin zu schlüsselfertigen Wohnungen ganz oder teilweise in allen Abteilungen durch und werden
    mit den entsprechenden geschäftsrelevanten Kennzahlen (Kosten, Erlöse als Beispiel) "angereichert". Die Bauausführung bzw. Einkaufsabteilung schließen Verträge ab, die dann als Grundlage für die Leistungsausführung dienen und später nach und nach
    und nach erbrachter Leistung zur Abrechnung und tatsächlichen Kosten führen. Diese Kosten müssen von der Kalkulationsabteilung regelmäßig geprüft und im Idealfall tagesaktuell den geschätzten Kosten gegenübergestellt werden.
</p>
<p>
    Die Buchhaltung als ein weiteres Beispiel muss bei den Abrechnungen immer den tatsächlich erbrachten Leistungsstand auf der Baustelle von den Bauleiters erfragen und dies dient dann wiederum als Grundlage für
    die Auszahlung der eingegangenen Rechnungen. Ebenso die vertraglich vereinbarten MaBV-Raten, die nach Bautenstand des Projektes, abgerechnet und dem Kunden in Rechnung gestellt werden. 
</p>
<p><strong>Im Grunde genommen herrscht während der Abwicklung und Bau eines Projektes ein permanentes Ineinandergreifen der Abteilungen.</strong> Je reibungsloser und effizienter dieser Austausch stattfindet, desto schneller und unproblematischer gestaltet 
sich die Fertigstellung und Endabnahme eines Projektes.</p>


<h1>Problem-Analyse</h1>

<p>Es gibt einige strukturell bedingte Schwachstellen in dieser Abwicklungsart.</p>

<h3>Unterschiedliche Semantik</h3>
<p>Jedes Projekt beginnt mit einer Kostenschätzung. Die Kostenschätzung ist in der Regel in einzelnen Kostengruppen unterteilt und stellt quasi das Projekt in seiner geplanten Kostenstruktur dar. Nach der Kostenschätzung beginnen 
    die Leistungsvergaben, die dann als Verträge als konkrete Kostengrundlage für das Projekt dienen. Die vergebenen Leistungen werden dann nach und nach ausgeführt und somit entstehen Abrechnungen, die dann buchhalterisch erfasst
und gebucht werden.</p>

<p>Die Grundanforderung besteht in der Regel darin, auf der Controlling-Ebene die geschätzten und geplanten Kosten immer und fortwährend den Vergabe und später auch Abrechnungswerten gegenüber zu stellen. Eine sogenannte Kostenüberwachung und später auch 
    Liquiditätsbetrachtung. Die Problematik dabei ist jedoch, dass die Kalkulationsabteilung, Bauausführung und Buchhaltung jeweils das gleiche Projekt in unterschiedlichen semantischen Sprachen "übersetzen".
</p>
<p>Während die Kalkulation das Projekt in einzelnen oftmals auch nach DIN-276 genormten Kostengruppen die geschätzten Kosten unterteilt, vergibt die Bausausführung die Leistungen nach Gewerken. Buchhaltung wiederum bucht die Abrechnungen auf Sachkontenbasis.</p>

<p>Dieser Umstand führt zwangsläufig dazu, dass eine fortwährende Gegenüberstellung und Überwachung der Kosten ohne manuellem Zutun quasi schwer bzw. unmöglich wird.</p>

<div class="container">
    
        <div class="d-flex bg-warning border-top border-right border-left justify-content-center align-items-center">
            <h4 class="p-0 mt-1">Kalkulation</h4>
        </div>
            <table class="table table-sm table-bordered" style="border-width: thin;">
                    <thead class="bg-warning ">
                        <tr class="d-flex">
                        <th scope="col" class="col-9">Kostengruppe</th>
                        <th scope="col"  class="col-3 text-right">Geschätzte Kosten</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr class="d-flex">
                            <th scope="row"  class="col-9">105 - Grundstückskosten</th>
                            <td class="col-3 text-right" >800.000 €</td>
                            </tr>
                            <tr class="d-flex">
                            <th scope="row"  class="col-9">323 - Fensterarbeiten</th>
                            <td class="col-3 text-right" >23.000 €</td>
                            </tr>
                        <tr class="d-flex">
                        <th scope="row"  class="col-9">324 - Erdarbeiten</th>
                        <td class="col-3 text-right">88.000 €</td>
                        </tr>
                        <tr class="d-flex">
                        <th scope="row"  class="col-9">329 - Rollos</th>
                        <td  class="col-3 text-right">15.000 €</td>
                        </tr>
                    </tbody>
                    </table>
                
                
    </div>
    
<div class="container">
    
        <div class="d-flex bg-secondary text-white border-top border-right border-left justify-content-center align-items-center">
            <h4 class="p-0 mt-1">Vergabe</h4>
        </div>
            <table class="table table-sm table-bordered" style="border-width: thin;">
                    <thead class="bg-secondary text-white  ">
                        <tr class="d-flex">
                        <th scope="col" class="col-4">Gewerk</th>
                        <th scope="col"  class="col-5">Firma</th>
                        <th scope="col"  class="col-3 text-right">Vergabe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex">
                                <th scope="row"  class="col-4">Fenster und Rollos</th>
                                <th scope="row"  class="col-5">Fa. Mustermann Fenster GmbH</th>
                                <td class="col-3 text-right" >23.000 €</td>
                        </tr>
                        <tr class="d-flex">
                                <th scope="row"  class="col-4">Fenster und Rollos</th>
                                <th scope="row"  class="col-5">Fa. Müller GmbH</th>
                                <td class="col-3 text-right" >18.000 €</td>
                        </tr>
                        <tr class="d-flex">
                                <th scope="row"  class="col-4">Rohbau</th>
                                <th scope="row"  class="col-5">Fa. Musterbau Erdarbeiten AG</th>
                                <td class="col-3 text-right" >110.000 €</td>
                        </tr>
                    </tbody>
                    </table>
                
                
    </div>
    

    <div class="container">
    
            <div class="d-flex bg-success border-top border-rounded border-right border-left justify-content-center align-items-center">
                    <h4 class="p-0 mt-1">Abrechnung</h4>
                </div>
                <table class="table table-sm table-bordered" style="border-width: thin;">
                        <thead class="bg-success ">
                            <tr class="d-flex">
                            <th scope="col" class="col-4">Sachkonto</th>
                            <th scope="col"  class="col-5">Firma</th>
                            <th scope="col"  class="col-3 text-right">Re-Summe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex">
                                    <th scope="row"  class="col-4">3450 - 1. Teilrechnung</th>
                                    <th scope="row"  class="col-5">Fa. Mustermann Fenster GmbH</th>
                                    <td class="col-3 text-right" >5.000 €</td>
                            </tr>
                            <tr class="d-flex">
                                    <th scope="row"  class="col-4">3450 - 1. Teilrechnung</th>
                                    <th scope="row"  class="col-5">Fa. Müller GmbH</th>
                                    <td class="col-3 text-right" >3.200 €</td>
                            </tr>
                            <tr class="d-flex">
                                    <th scope="row"  class="col-4">3280 - Rechnung Grundstücksankauf</th>
                                    <th scope="row"  class="col-5">Hr. Müller (Grundstückseigentümer</th>
                                    <td class="col-3 text-right" >880.000 €</td>
                            </tr>
                        </tbody>
                        </table>
                    
                    
        </div>


        
<p>Probleme, die sich aus dieser Struktur ergeben, ist eine schwierige bis gar unmögliche automatisch generierte Gegenüberstellung der entstandenen Kosten in allen Bereichen. Eine Idealvorstellung für die Kalkulationsabteilung wäre in etwa wie folgt, dass man die 
    Kosten linear gegenüberstellen könnte.
</p>

<div class="container">
    
        <div class="d-flex bg-primary text-light border-top border-rounded border-right border-left justify-content-center align-items-center">
                <h4 class="p-0 mt-1">Kostenübersicht / Kostenkontrolle</h4>
            </div>
           
            <table class="table table-sm table-bordered" style="border-width: thin;">
                    <thead class="bg-primary text-light ">
                        <tr class="d-flex">
                        <th scope="col" class="col-3">Kostengruppe</th>
                        <th scope="col"  class="col-3 text-right">Geschätzt</th>
                        <th scope="col"  class="col-3 text-right">Vergeben</th>
                        <th scope="col"  class="col-3 text-right">Abgerechnet</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr class="d-flex">
                            <th scope="row"  class="col-3">105 - Grundstückskosten</th>
                            <td class="col-3 text-right" >800.000 €</td>
                            <td class="col-3 text-right" >-</td>
                            <td class="col-3 text-right" >880.000 €</td>
                            </tr>
                            <tr class="d-flex">
                            <th scope="row"  class="col-3">323 - Fensterarbeiten</th>
                            <td class="col-3 text-right" >23.000 €</td>
                            <td class="col-3 text-right" >24.000</td>
                            <td class="col-3 text-right" >5.000 €</td>
                            </tr>
                        <tr class="d-flex">
                        <th scope="row"  class="col-3">324 - Erdarbeiten</th>
                        <td class="col-3 text-right" >88.000 €</td>
                        <td class="col-3 text-right" >110.000</td>
                        <td class="col-3 text-right" >-</td>
                        </tr>
                        <tr class="d-flex">
                        <th scope="row"  class="col-3">329 - Rollos</th>
                        <td class="col-3 text-right" >15.000 €</td>
                        <td class="col-3 text-right" >18.000 €</td>
                        <td class="col-3 text-right" >3.200 €</td>
                        </tr>
                    </tbody>
                    </table>
                
                
    </div>

    <p>Das Problem, was sich aus dieser Anforderung der idealerweise tagesaktuelle Gegenüberstellung ergibt, sind die unterschiedlichen semantischen Sprachen aus den jeweiligen Abteilungen. Es muss also eine Möglichkeit geschaffen werden, 
        damit die Mitarbeiter der jeweiligen Abteilung bei der Erfassung ihrer Daten jeweils in der eigenen für sie sinnvollen Sprache (Sachkonten als Beispiel in der Buchhaltung oder Gewerk in der Bauausführung) 
        die Daten automatisiert an die Kalkulationsabteilung übergeben können. Ohne dass hier ein manuelles Übersetzen und Datenpflege nötig wird.
    </p>

<h3>Mobilitätsbedarf</h3>
<p>Die Bauausführung spielt sich vorort auf der Baustelle ab. Dies bedeutet, dass die Bauleiter, Planer und Projektentwickler permanent auch vorort sein müssen. Aus diesem Umstand ergibt sich die Notwendigkeit der Mobilität 
    und der daraus resultierender notwendiger Zugriff auf die Dokumente und Daten aus der Verwaltung. Ebenso ist es ein großes Problem, wenn Feststellungen auf der Baustelle wie Mängel oder mündlich getroffene 
    Vereinbarungen mit den Handwerksbetrieben erst im Büro "nachgepflegt" und dokumentiert werden müssen.
</p>

<p><strong>Fehlende Mobilität führt zu Intransparenz und lückenhafte Dokumentation der Vorgänge auf der Baustelle.</strong></p>

<h3>Externe Projektbeteiligte</h3>
<p>Ebenso sind bei den externen Projektbeteiligten wie Architektur- oder Statikbüros, Arbeitsergebnisse in Form von Plänen oder Dokumenten, die im Idealfall zeitnah und in der richtigen Version immer allen Projektbeteiligten und Handwerkern
    zur Verfügung gestellt werden müssten.</p>
<p>Gekoppelt an die Problematik der Mobilität, wird hier ein manuelles Abrufen der Arbeitsergebnisse bei allen Projektbeteiligten und die zur Verfügung Stellung der Ergebnisse in geeigneter Form ein sehr aufwendiger und fehleranfälliger Vorgang, was zu massiven Produktivitätseinbussen führt.</p>


<h3>Projektgesellschaften</h3>
<p>Grundstücke anzukaufen und zu entwickeln ist ein kapitallastiges Anliegen. Oft gehen die Bauträger "Risiken" ein. Um die Geschäftsrisiken möglichst auf das Projekt zu beschränken gründen Bauträger 
    oftmals separate Rechtsformen und sogenannte Projektgesellschaften, in dieser dann die Projekte finanziert, gebaut und ggf. vertrieben werden. Somit ergibt sich automatisch und aufgrund der eigenen Rechtsform eines Projektes die Notwendigkeit 
    der finanz- und bilanzbuchhalterischen Trennung. 
</p>

<p>Die Abwicklung der Projekte wird jedoch operativ immer von den selben Abteilungen und Fachpersonal durchgeführt und die Projektgesellschaft spielt im operativen Alltag nur sehr beschränkt eine Rolle.</p>

<p>Finanzbuchhaltung muss also immer bei allen Abrechnungen die im Hintergrund rechtlich agierende Projektgesellschaft berücksichtigen und die Buchungen dem korrekten Projektgesellschaft (Buchhalterisch Mandant) zuordnen.</p>


<h3>Kommunikation- und Kollaborationsdefizite</h3>
<p>Intern und externe Abstimmungen laufen oft sehr unkoordiniert ab und die Kommunikationswege sind nicht klar definiert. Viele Abstimmungen finden im Gespräch oder telefonisch statt und die Gesprächsresultate 
    werden nicht dokumentiert bzw. festgehalten.
</p>

<h3>IT-Affinität</h3>
<p>Die Bauwirtschaft in Deutschland ist erfahrungsgemäß sehr konservativ. Handwerk hat gerade in Deutschland eine alte Tradition und das digitale Denke hat noch nicht in allen Bereichen Einzug gehalten.</p>
<p>Gerade auf der Baustelle werden IT-gestützte Systeme eher als eine unnötige Zusatzarbeit verstanden bzw. es fehlen oft die Kenntnisse und Verstädniss über solche Systeme.</p>

<h1>Lösung</h1>

<p>Aus diesem Umstand ist die Idee einer ganzheitlichen Softwarelösung für die Erfassung und Harmonisierung der unterschiedlichen Bereichen eines Bauunternehmens entstanden.</p>
<p>Das System umfasst somit die datenbezogene und kaufmännische Erfassung der gesamten Wertschöpfungskette.</p>

<p>Folgende Themen kurzgefasst werden im System TEAM3+ gelöst:</p>

<ul>
        <li><p><strong>Projektkalkulation</strong> in der vom Kunden gewünschten Kostengruppenstruktur wird im System hinterlegt und die Vergaben und Abrechnungen werden mit den jeweils hinterlegten "Übersetzungstools" nach der Erfassung 
                und Buchung automatisch in die Kostenübersicht übertragen. 
            </p></li>
        <li><p><strong>Notarverträge</strong> können im System erlösseitig erfasst und gebucht werden. Die hinterlegten Ratenzahlungspläne können über die Funktion MaBV-Automatik nach dem Erreichen des Bautenstandes
                stapelweise erstellt und fakturiert werden.
            </p></li>
            <li><p><strong>Mängel</strong> auf der Baustelle können im System erfasst und dem Verursacher zugeordnet werden. Damit folgt bei den zukünftigen Abrechnungen automatisch ein Abzug als Sicherheit und somit muss der Bauträger dem Geld 
                und Behebung des Mangels nicht immer hinterher rennen. Schafft für sich Übersichten und kann strukturiert die Mängel auf der Baustelle dokumentieren und bearbeiten.
                </p></li>
        
                <li><p><strong>Buchhaltung</strong> kann bei richtiger Hinterlegung und Konfiguration der Übersetzungstools die Abrechnungen buchhalterisch und teilautomatisiert kontieren und nach DATEV oder alternative Finanzbuchhaltungssysteme 
                    übertragen. Doppelpflege der Informationen und Belege entfällt somit. Das System trennt automatisch die Buchungen nach Wirtschaftsjahr und Mandant. Somit erfüllt das System das finanzbuchhalterische Trennungsgebot automatisch. 
                    Die Buchhalter müssen lediglich die Belege auf buchhalterische "Korrektheit" prüfen.
                            </p></li>
        
                            <li><p><strong>Strukturierte Dokumentenablage</strong> auf Datensatzebene führt zu mehr Transparenz und Findbarkeit der Dokumente im Unternehmen. Dokumente können projekt- bzw. vertragsbezogen abgelegt werden.
                            </p></li>

        <li><p><strong>Prozessorientierte Posteingangbearbeitung:</strong> Der Rechnungseingang kann über projektspezifische Workflows an Teams und Abteilungen digital verteilt und bearbeitet werden. 
        </p></li>
</ul>

<h1>Ausblick</h1>

<p>Wenn es um ganzheitliche Digitalisierung im Unternehmen geht, spielen jedoch viele Faktoren noch eine Rolle, die für die Prozessoptimierung eine wesentliche Rolle spielen. 
    Die Art und Weise der Kommunikation, Aufbau einer Wissensdatenbank, Ausbildung
     der Mitarbeiter in Sachen IT, Schaffung von Austauschplattformen für externe Projektbeteiligte, Schaffung einer intelligenten Mobilität in einer umfassenderen Form, was nicht nur die kaufmänischen Belange erfüllt,
      sondern auch Arbeitsprozesse umfasst, um nur einige Beispiele zu nennen.
</p>

<p>Diese Fragestellungen können und sollen nicht von einem einzigen Softwaresystem gelöst werden. Hierzu bedarf es kluge Ansätze der Zerlegung von IT-Bedürfnisse in einer Form, 
    dass das Unternehmen trotz der Entscheidung für oder gegen ein System noch flexibel genug auf Veränderungen
    reagieren kann. 
</p>

<p>Damit Kunde auch im Sinne seiner Wünsche einen ganzheitlichen Ansatz fahren kann, sind Beratungen und Gespräche und Ausarbeitung von Konzepten nötig. 
    In einigen Bereichen muss das Unternehmen seine altbewährten Gewohnheiten aufgeben, und neue Wege gehen. 
    Gerade im Bereich der Harmonisierung der unterschiedlichen Sprachen in der Kalkulation und Buchhaltung, bedarf es enge Abstimmungen und daraus resultierenden Anpassungen, damit dann
    einen reibungslosen Austausch zwischen den Abteilungen ermöglichen.
</p>

<p>Zusammenfassend die Visualisierung der IT-gestützten Abläufe eines Bauunternehmens: </p>

<p>
    <a data-toggle="modal" data-target="#myModal">
            <img src="/assets/images/software-datenstruktur.png" class="img-fluid" alt="Responsive image">
    </a>

</p>



<h1>Fazit</h1>

<p>Digitalisierung und IT-gestützte Prozessoptimierung ist ein weites Feld und anhand des oben aufgeführten Beispielfalls 
    habe ich versucht, 
    die wesentlichen Punkte, die den Kern der Idee einer ganzheitlichen kaufm. Software-Lösung betreffen, zu erläutern. 
    Jedoch sind nicht alle Aspekte dieser Lösung vollumfänglich erwähnt und erörtert.</p>

<p>Unter der Rubrik "Meinung" habe ich hierzu noch ergänzend ein Artikel geschrieben, der etwas ausführlicher auf diese Aspekte eingeht.

</p>

<p><a href="{% link _posts/2019-11-14-digitalisierung-ein-orientierungsversuch.md %}">Digitalisierung - Ein Orientierungsversuch</a></p>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full" role="document">
          <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">IT-Struktur eines Bauunternehmens</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
              <div class="modal-body">
                  <img src="/assets/images/software-datenstruktur.png" class="img-fluid">
              </div>
          </div>
        </div>
</div>
