
    <footer class="footer">

        <div class="container text-center ">
            
            <ul class="list-inline m-0">
                <li class="list-inline-item">Copyright &copy; 2020 Alle Rechte vorbehalten</li>
                <li class="list-inline-item">&bull;</li>
                <li class="list-inline-item"><a class="primary" href="/">Home</a></li>
                <li class="list-inline-item">&bull;</li>
                <li class="list-inline-item"><a class="primary" href="/kontakt.html">Kontakt</a></li>
                <li class="list-inline-item">&bull;</li>
                <li class="list-inline-item"><a class="primary" href="/impressum.html">Impressum</a></li>


                
            </ul>


          </div>
    
          </footer>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/assets/js/site.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
{% include cookie_consent.html %}
