<ul class="list-unstyled components">
    {% for item in site.data.navigation %}
        {% if item.name == "devider" %}
            <hr />
        {% else %}
        {% assign itemLink = (item.link | remove: "/index.html")  %}
        {% assign itemLink = (itemLink | remove: ".html")  %}
        
        {% assign pageUrl = (page.url | remove: "/index.html")  %}
        {% assign pageUrl = (pageUrl | remove: ".html")  %}

        <li {% if pageUrl == itemLink %}class="active nav-item"{% else %} class="nav-item"{% endif %} >
                <a href="{{ item.link }}">
                    {{ item.name }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>