
<nav class="navbar bg-light navbar-inverse fixed-top" role="navigation"  >
        <div class="container-fluid  pl-1">

            <a class="navbar-brand primary behuf-logo-small" href="/">
            </a>
            <form class="ml-auto mr-3 d-none d-md-block" role="search" >
                    <div class="input-group">
                            <input type="search" id="search-input-header" 
                            placeholder="Blogeinträge suchen.." 
                            class="form-control form-control-sm dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ul class="dropdown-menu" role="menu" aria-labelledby="search-input-headeryy" id="results-container-header">
                            <h6 class="dropdown-header">Geben Sie Ihre Suchbegriffe ein ...</h6>
                        </ul>
                    </div>
                   
            </form>
              
            <ul class="navbar-nav  flex-row align-items-center">
                    
                <li class="d-xs-block d-sm-block d-md-none">
                    <a href="suchen.html" title="Blogeinträge suchen ..." class="nav-link text-primary mt-2" style="font-size: 18px;">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                {% for item in site.data.navigation_header %}
                <li>
                    <a href="{{ item.link }}" title="{{ item.name }}" target="_blank">
                            <img src="{{ item.icon }}" alts="{{ item.name }}" width="22" height="22" >
                    </a>
                </li>
                {% endfor %}
                
            </ul>
        </div>

</nav>

<!-- or -->

{% include search.script.html %}