
<div class="container-fluid m-0 p-0">

    <div class="row">
            <div class="col">
                <h5>Teilen:</h5>
            </div>
    </div>
    <div class="row">
        <div class="col">  
                <ul class="social-icons">
                        <li>
                          <a href="https://twitter.com/">
                            <span>Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://www.facebook.com/">
                            <span>Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://www.linkedin.com/">
                            <span>LinkedIn</span>
                          </a>
                        </li>
                      </ul>
        </div>
    </div>
</div>
